<script setup>
import { onMounted, reactive, ref, watch } from 'vue'
import { RouterLink, useRoute, useRouter } from 'vue-router';
import DashboardHeader from '@/components/DashboardHeader.vue'
import DashboardMenu from '@/components/DashboardMenu.vue'
import CollectionFieldItem from '@/components/CollectionFieldItem.vue'

const router = useRouter();
const route = useRoute();

const dataTypes = [{
    "icon": "text.png",
    "name": "Text",
    "type": "string"
  }, {
    "icon": "date.png",
    "name": "Date",
    "type": "date"
  }, {
    "icon": "boolean.png",
    "name": "Boolean",
    "type": "boolean"
  }, {
    "icon": "json.png",
    "name": "JSON",
    "type": "json"
  }, {
    "icon": "number.png",
    "name": "Number",
    "type": "integer"
  }, {
    "icon": "time.png",
    "name": "Time",
    "type": "date_format:H:i"
  }, {
    "icon": "email.png",
    "name": "Email",
    "type": "email"
  }]

const toggleDialog = (id) => {
  var dialog = document.getElementById(id)
  if(dialog.open) {
    dialog.close();
  } else {
    dialog.showModal();
  }
}

const collection = ref(null);
const isLoading = ref(false);

const currentField = reactive({
  type: '',
  name: '',
  icon: '',
  required: false
})

const getCollection = async () => {
  isLoading.value = true;
  await window.api({
    url: '/collection/read/' + route.params.id,
    method: "GET",
  }).then(res => {
    collection.value = res.data.data;
    isLoading.value = false;
  }).catch(err => {
    router.push('/dashboard')
    isLoading.value = false;
  })
}

const setCurrentType = (dataType) => {
  currentField.type = dataType.type
  currentField.icon = dataType.icon
  currentField.name = dataType.type == 'email' ? 'email' : currentField.name;
  toggleDialog('addFieldDialog')
  toggleDialog('addSchemaField')
}

const addSchemaField = (more = false) => {
  
  var col = {...collection.value}
  currentField.name = currentField.name.replaceAll(' ', '_');
  col.schema[currentField.name] = {};
  col.schema[currentField.name] = currentField.type + (currentField.required ? '|required' : '');

  collection.value = col;

  currentField.type = '';
  currentField.name = '';
  currentField.icon = '';
  currentField.required = false;

  toggleDialog('addSchemaField')

  if(more) {
    toggleDialog('addFieldDialog')
  }


}

const deleteField = (id) => {
  var col = { ...collection.value }
  delete col.schema[id]

  collection.value = col;

  currentField.type = '';
  currentField.name = '';
  currentField.icon = '';
  currentField.required = false;

}

const updateField = (id) => {
  var col = { ...collection.value }
  
  var type = col.schema[id].split('|')
  
  currentField.type = type[0];
  currentField.name = id;
  currentField.required = type[1] ?? false;
  
  console.log(type);
  currentField.icon = dataTypes.find(v => {
    return v.type == type[0]
  }).icon;

  toggleDialog('addFieldDialog');
}

const addNewField = () => {

  currentField.type = '';
  currentField.name = '';
  currentField.icon = '';
  currentField.required = false;

  toggleDialog('addFieldDialog')
}

const saveCollection = async () => {
  
  isLoading.value = true;
  
  const data = {
    name: collection.value.name,
    schema: JSON.stringify(collection.value.schema)
  }

  await window.api({
    url: '/collection/update/' + collection.value.id,
    method: 'PUT',
    data: data,
  }).then(res => {
    router.push('/dashboard');
    isLoading.value = false;
  }).catch(err => {
    isLoading.value = false;
  })

}

onMounted(() => {
  getCollection();
})


</script>

<template>

  <Loader v-if="isLoading" />

  <DashboardHeader />

  <DashboardMenu />

  <main v-if="collection != null">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between mb-5">
          <h1 class="display-3 fw-bold m-0">{{ collection.name }}</h1>
          <div> 
            <button class="btn-js bg-secondary me-2" @click="router.push('/dashboard')">
              <span class="fa fa-fw fa-arrow-left"></span> Cancel
            </button>
            <button class="btn-js accent" @click="saveCollection()">
              <span class="fa fa-fw fa-check"></span> Save
            </button>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-9 collection-field-item-holder">
          <CollectionFieldItem :data="null" v-if="Object.keys(collection.schema).length == 0" />
          <CollectionFieldItem v-for="(type, name) of collection.schema" :data="{type, name}" v-on:deleteField="deleteField" v-on:updateField="updateField" />
          <div class="collection-field-item btn-js accent py-4 text-center" @click="addNewField">Add new Field</div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-3">
          <p class="mt-3">Manage Data</p>
          <button class="btn-js primary w-100">Insert Data</button>
          <button class="btn-js primary w-100 my-3">View Data</button>
          <button class="btn-js primary w-100">API Guide</button>
        </div>
      </div>
    </div>


    <dialog id="addFieldDialog">
        <div class="dialog-title d-flex align-items-center justify-content-between">
          <h1 class="fs-5 fw-normal m-0"><img :src="'/icon/' + currentField.icon" alt="" v-if="currentField.icon != ''" /> {{ currentField.name == '' ? 'Select Data Type' : currentField.name }}</h1>
          <button class="btn-js bg-transparent text-black px-0" type="button" @click="toggleDialog('addFieldDialog')"><span class="fa fa-fw fa-close"></span></button>
        </div>

     
        <div class="dialog-body">
          <!-- <div class="d-flex align-items-center justify-content-around"> -->

            <button class="btn-js bg-transparent text-black fw-normal px-2 mx-3" v-for="dataType of dataTypes" @click="setCurrentType(dataType)">
              <div class="d-flex align-items-center">
                <img :src="'/icon/' + dataType.icon" alt=""> <span class="ms-2">{{ dataType.name }}</span>
              </div>
            </button>
          
          <!-- </div> -->
        </div>
    </dialog>

    <dialog id="addSchemaField">
        <div class="dialog-form">
          <div class="dialog-title d-flex align-items-center justify-content-between">
            <h1 class="fs-5 fw-normal m-0"><img :src="'/icon/' + currentField.icon" alt="" /> {{ currentField.name == '' ? 'Add Schema Field' : currentField.name }}</h1>
            <button class="btn-js bg-transparent text-black px-0" type="button" @click="toggleDialog('addSchemaField')"><span class="fa fa-fw fa-close"></span></button>
          </div>

     
          <input v-model="currentField.name" type="text" class="form-control" placeholder="Enter Data Name">
          <div class="form-control">
            <label for="is_required" class="d-flex align-items-center">
              <input type="checkbox" id="is_required" class="me-2" v-model="currentField.required"> Required?
            </label>
          </div>
          <button class="btn-js accent w-50 py-3" @click="addSchemaField()" style="border-radius: 0px 0px 0px 10px !important;">Save</button>
          <button class="btn-js primary w-50 py-3" @click="addSchemaField(true)" style="border-radius: 0px 0px 10px 0px !important;">Add More</button>
        </div>
    </dialog>

    <dialog id="addData" open>
      <div class="dialog-form">
        <div class="dialog-title d-flex align-items-center justify-content-between">
          <h1 class="fs-5 fw-normal m-0">Insert New Data</h1>
          <button class="btn-js bg-transparent text-black px-0" type="button" @click="toggleDialog('addData')"><span class="fa fa-fw fa-close"></span></button>
        </div>

        <input v-for="(type, name) of collection.schema" v-model="currentField.name" type="text" class="form-control" placeholder="Enter Data Name">
        <button class="btn-js accent w-100 py-3" @click="addSchemaField()" style="border-radius: 0px 0px 0px 10px !important;">Save</button>
      </div>
    </dialog>
    
  </main>
</template>