<script setup>
import { onMounted, reactive, ref } from 'vue'
import { RouterLink, useRouter } from 'vue-router';
import DashboardHeader from '@/components/DashboardHeader.vue'
import DashboardMenu from '@/components/DashboardMenu.vue'
import CollectionItem from '@/components/CollectionItem.vue'

const router = useRouter();

const dataTypes = [{
  "icon": "text.png",
  "name": "Text",
  "type": "string"
}, {
  "icon": "date.png",
  "name": "Date",
  "type": "date"
}, {
  "icon": "boolean.png",
  "name": "Boolean",
  "type": "boolean"
}, {
  "icon": "json.png",
  "name": "JSON",
  "type": "json"
}, {
  "icon": "number.png",
  "name": "Number",
  "type": "integer"
}, {
  "icon": "time.png",
  "name": "Time",
  "type": "date_format:H:i"
}, {
  "icon": "email.png",
  "name": "Email",
  "type": "email"
}]

const isLoading = ref(false)
const collections = ref(null)

const toggleDialog = (id) => {
  var dialog = document.getElementById(id)
  if(dialog.open) {
    dialog.close();
  } else {
    dialog.show();
  }
}

const collectionData = reactive({
  name: '',
  schema: JSON.stringify({})
})

const createCollection = async () =>{
  isLoading.value = true;

  window.api({
    url: '/collection/create',
    method: "POST",
    data: collectionData
  }).then(res => {
    
    router.push('/collection/' + res.data.data.id)

    isLoading.value = false;
  }).catch(err => {
    isLoading.value = false;
  })

}

const getCollection = async () => {
  isLoading.value = true;

  window.api({
    url: '/collection/all',
    method: "GET"
  }).then(res => {

    collections.value = res.data.data;

    isLoading.value = false;
  }).catch(err => {
    isLoading.value = false;
  })
}

onMounted(() => {
  getCollection();
})


</script>

<template>

  <Loader v-if="isLoading" />

  <DashboardHeader />

  <DashboardMenu />

  <main>
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-between mb-5">
          <h1 class="display-3 fw-bold m-0">Content Manager</h1>
          <button class="btn-js accent" @click="toggleDialog('addCollectionDialog')">
            <span class="fa fa-fw fa-add"></span> Create New Collection
          </button>
        </div>


        <CollectionItem v-for="collection of collections" :data="collection" />

      </div>
    </div>
  </main>

  <dialog id="addCollectionDialog">
    <form @submit.prevent="createCollection" class="dialog-form">
      <div class="dialog-title d-flex align-items-center justify-content-between">
        <h1 class="fs-5 fw-normal m-0">Add Collection</h1>
        <button class="btn-js bg-transparent text-black px-0" type="button" @click="toggleDialog('addCollectionDialog')"><span class="fa fa-fw fa-close"></span></button>
      </div>

      <input type="text" v-model="collectionData.name" class="form-control" placeholder="Enter Collection Name">
      <button class="btn-js accent w-100 py-3">Create Collection</button>
    </form>
  </dialog>

  <dialog id="addFieldDialog">
    <form action="" class="dialog-form">
      <div class="dialog-title d-flex align-items-center justify-content-between">
        <h1 class="fs-5 fw-normal m-0">Add Schema Field</h1>
        <button class="btn-js bg-transparent text-black px-0" type="button" @click="toggleDialog('addFieldDialog')"><span class="fa fa-fw fa-close"></span></button>
      </div>

     
      <div class="dialog-body">
        <div class="mb-3">
          Select Data Type
        </div>

        <!-- <div class="d-flex align-items-center justify-content-around"> -->

          <button class="btn-js bg-transparent text-black fw-normal px-2 mx-3" v-for="dataType of dataTypes">
            <div class="d-flex align-items-center">
              <img :src="'/icon/' + dataType.icon" alt=""> <span class="ms-2">{{ dataType.name }}</span>
            </div>
          </button>
          
        <!-- </div> -->
      </div>
      
      <button class="btn-js accent w-100 py-3">Proceed to Details</button>
    </form>
  </dialog>

  <dialog id="addSchemaField">
      <form action="" class="dialog-form">
        <div class="dialog-title d-flex align-items-center justify-content-between">
          <h1 class="fs-5 fw-normal m-0">Add Schema Field</h1>
          <button class="btn-js bg-transparent text-black px-0" type="button" @click="toggleDialog('addSchemaField')"><span class="fa fa-fw fa-close"></span></button>
        </div>

     
        <input type="text" class="form-control" placeholder="Enter Data Name">
        <div class="form-control">
          <label for="is_required" class="d-flex align-items-center">
            <input type="checkbox" id="is_required" class="me-2"> Required?
          </label>
        </div>
        <button class="btn-js accent w-100 py-3">Add Schema Field</button>
      </form>
  </dialog>

</template>