<script setup>
import { RouterLink } from 'vue-router';
</script>

<template>
  <header>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4">
          <img src="@/assets/img/LOGO.png" alt="">
        </div>
        <div class="col-8 text-end">
          <RouterLink to="/register" class="btn-js accent">Register</RouterLink>
          <RouterLink to="/login" class="btn-js primary ms-3">Login</RouterLink>
        </div>
      </div>
    </div>
  </header>

  <div id="hero" class="py-5">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-5">
          <section>
            <h1 class="text-light">Effortless Storage for<br/>JSON Data</h1>
            <p>JSONSnap is a user-friendly and efficient JSON storage solution designed to simplify the way you store and manage your JSON data. With JSONSnap, you can seamlessly store, retrieve, and manipulate JSON objects with ease.</p>
          </section>
          
          <section class="my-5">
            <h1 class="text-light">Streamlined and <br/>Intuitive Interface</h1>
            <p>JSONSnap is a user-friendly and efficient JSON storage solution designed to simplify the way you store and manage your JSON data. With JSONSnap, you can seamlessly store, retrieve, and manipulate JSON objects with ease.</p>
          </section>
          
          <section>
            <h1 class="text-light">Features</h1>
            <ul>
              <li>JSON Schema Support: Define and enforce JSON schema for your data collections, ensuring consistency and validity.</li>
              <li>CRUD Operations: Perform Create, Read, Update, and Delete operations on your JSON collections effortlessly.</li>
              <li>Authentication and Security: Keep your data secure with built-in authentication and authorization features.</li>
            </ul>
          </section>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-5 text-center">
          <img src="@/assets/img/carbon.png" alt="">
          <div class="mt-2 text-center">
            <button class="btn-js accent">Check Documentation</button>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 py-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 text-center">
          <section>
            <h1 class="text-light">Get Started Today</h1>
            <p class="py-4">Start simplifying your JSON data storage with JSONSnap. Sign up for a free account and experience the convenience and power of effortless JSON storage.</p>

            <button class="btn-js accent">Register Now!</button>
          </section>
        </div>
      </div>
    </div>
  </div>
</template>