<script setup>
import { onMounted, reactive, ref } from 'vue';
import { useUser } from '@/stores/user';
import { useRouter } from 'vue-router';

const router = useRouter()
const user = useUser();
const data = reactive({
  name: '',
  email: '',
})

const isLoading = ref(false)

const login = async () => {
  isLoading.value = true;

  await window.api({
    url: '/auth/login',
    method: 'POST',
    data: data
  }).then(res => {
    user.set({ ...res.data.user, token: res.data.api_token })
    localStorage.setItem('jsonsnap__token', res.data.api_token);
    window.api.defaults.headers.common['Authorization'] = 'Bearer ' + res.data.api_token;
    router.push('/dashboard')

  }).catch(err => {
    isLoading.value = false;
  })

  isLoading.value = false;
}

onMounted(() => {
  if(user.user != null) {
    router.push('/dashboard')
  }
})

</script>
<template>
  <Loader v-if="isLoading" />

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="text-center">
          <img src="@/assets/img/LOGO.png" alt="">
        </div>

        <form @submit.prevent="login" class="vertical-form mt-4">
          <input v-model="data.email" type="email" placeholder="Email Address" class="vertical-item form-control">
          <input v-model="data.password" type="password" placeholder="Password" class="vertical-item form-control">
          <button class="vertical-item btn-js accent w-100">Login</button>
        </form>

        <div class="text-center mt-4">
          <RouterLink to="/register">Don't have an Account yet?</RouterLink>
        </div>
      </div>
    </div>
  </div>
</template>

<style type="sass" scoped>
  .row {
    min-height: 100vh;
  }

  a {
    color: #6B7280;
    text-decoration: none;
    
    &:hover {
      color: #10B981;
    }
  }
</style>