@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    background-color: #111827;
    background-image: url('/public/body_bg.png');
    color: #F9FAFB;
    font-family: 'Poppins', sans-serif;
}

main {

    &:before {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 400%;
        width: 100%;
        background: linear-gradient(180deg, rgba(17, 24, 39, 0) 0%, rgba(17, 24, 39, 0.9) 100%);
        z-index: -1;
    }
}

h1 {
    font-weight: 700;
    line-height: 38px;
}

p {
    color: #F9FAFB;
    font-size: 16px;
    font-family: Poppins;
}

header {
    padding: 20px 0;
}

.menu-dashboard {
    ul {
        li {
            display: inline-block;
            padding: 10px 20px;

            a {
                color: #fff;
                opacity: 0.5;

                &.router-link-active,
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.collection-item {
    border-radius: 10px;
    border: 1px solid rgba(72, 187, 120, 0.39);
    background: var(--text, #111827);
    color: #fff;

    .card-body {
        padding: 25px 20px; 
    }
}
.collection-field-item-holder {
    .collection-field-item {
        border: 1px solid rgba(72, 187, 120, 0.39);
        background: var(--text, #111827);
        color: #fff;

        &:first-child {
            border-radius: 10px 10px 0px 0px;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0px;
        }

        &:last-child {
            border-radius: 0px 0px 10px 10px;
        }

        .card-body {
            padding: 25px 20px;
        }
    }
}
.dialog-form {
    .form-control {
        border-radius: 0;
        padding: 20px;
    }

    .btn-js {
        border-radius: 0px 0px 10px 10px !important;
    }
}

// Custom 

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 120;
}

dialog {
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 600px;
    width: 600px;
    padding: 0;
    border: none;
    box-shadow: 0px 0px 30px rgba($color: #10B981, $alpha: 0.5);

    .dialog-title {
        border-bottom: 1px solid rgba(107, 114, 128, 0.20);
        padding: 10px 20px;
    }

    .dialog-body {
        padding: 20px 20px;
    }


    .container {
        min-width: 500px;
    }
}

.vertical-form {
    .vertical-item {
        padding: 20px 20px;
        background: var(--text, #111827);
        border: 1px solid #10B981;
        color: #fff;

        &::placeholder {
            color: #A9ECD6;
        }

        &:first-child {
            border-radius: 10px 10px 0px 0px;
        }

        &:not(:first-child):not(:last-child) {
            border-radius: 0px;
        }

        &:last-child {
            border-radius: 0px 0px 10px 10px;
        }
    }
}

.btn-js {
    color: #FFF;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    
    &:hover {
        opacity: 0.7;
        color: #fff;
    }

    &.accent {
        background: var(--accent, #10B981);
    }

    &.primary {
        background: var(--primary, #3B82F6);
    }
}

img {
    max-width: 100%;
}

.text-light {
    color: #C0CBE0 !important;
}

.text-accent {
    color: #10B981 !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

a {
    color: #10B981;
    text-decoration: none;
}

input {
    box-shadow: none !important;
}