<script setup> 
    const props = defineProps(['data'])
    const types =  props.data != null ? props.data.type.split('|') : '';
</script>

<template>
    <div class="card collection-field-item w-100">
        <div class="card-body text-center" v-if="data == null">
            Please Add new Field to Proceed
        </div>
        <div class="card-body d-flex align-items-center justify-content-between" v-if="data != null">
            <div>
                <h1 class="fs-6 fw-normal m-0">{{ data.name }}</h1>
            </div>

            <div class="d-flex align-items-center">
                <p class="mx-3 fs-6 my-0">{{ types[0] }} <span class="badge bg-secondary" v-if="types[1]">{{  types[1]  }}</span></p>
                <button class="bg-transparent btn-js p-0 me-2 fw-400" @click="$emit('updateField', data.name)">
                    <span class="fa-regular fa-fw fa-pen-to-square fs-5 text-primary fw-400"></span>
                </button>
                <button class="bg-transparent btn-js p-0 fw-400" @click="$emit('deleteField', data.name)">
                    <span class="fa-regular fa-fw fa-trash-can fs-5 text-danger fw-400"></span>
                </button>
            </div>
        </div>
    </div>
</template>