<script setup>
const props = defineProps(['data'])
</script>


<template>
    <div class="col-12 mb-3">
        <div class="card collection-item w-100">
            <div class="card-body d-flex align-items-center justify-content-between">
                <div>
                    <h1 class="fs-6 fw-normal m-0"><span class="text-accent opacity-50 me-3">{{ data.id }}</span> {{ data.name }}</h1>
                </div>

                <div class="d-flex align-items-center">
                    <p class="mx-3 fs-5 my-0">{{ data.data_count  }}</p>
                    <RouterLink :to="'/collection/' + data.id">
                        <span class="fa fa-fw fa-arrow-right fs-4 text-accent"></span>
                    </RouterLink>
                </div>
            </div>
        </div>
    </div>
</template>