<script setup>
    import { useUser } from '@/stores/user'
    const user = useUser();
</script>

<template>
    <header>
    <div class="container">
        <div class="row align-items-center">
        <div class="col-4">
            <h1 class="fw-bold fs-4 text-accent">jsonsnap</h1>
        </div>
        <div class="col-8 text-end">
            <RouterLink to="/settings" class="fw-600">{{  user.user.name  }}</RouterLink>
        </div>
        </div>
    </div>
    </header>
</template>