<template>
    <div class="menu-dashboard">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ul>
                <li>
                  <RouterLink to="/dashboard" class="d-flex align-items-center">
                    <span class="fa fa-pen-to-square fa-fw me-2"></span> Content Manager
                  </RouterLink>
                </li>
                <!-- <li>
                  <RouterLink to="/collection" class="d-flex align-items-center">
                    <span class="fa fa-database fa-fw me-2"></span> Collection Builder
                  </RouterLink>
                </li> -->
                <li>
                  <RouterLink to="/settings" class="d-flex align-items-center">
                    <span class="fa fa-cogs fa-fw me-2"></span> Setting
                  </RouterLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</template>