<template>
    <div class="loader">
        <div class="text-center">
            <span class="fa fa-spinner fa-4x fa-spin"></span>
            <p class="mt-4">Processing...</p>
        </div>
    </div>
</template>