<script setup>
import { RouterLink, RouterView } from 'vue-router'
import { onMounted } from 'vue';

onMounted(() => {
  if (localStorage.getItem('jsonsnap__token') !== null) {
    window.api.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('jsonsnap__token');
  }
})

</script>

<template>
  <RouterView />
</template>
